.eventsContainer {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: row;
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    margin: auto;
    background-color:gainsboro;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4) inset;
  }

  .listContainer {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 60vw;
  }

  .eventButton {
    display: flex;
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 25%;
    cursor: pointer;
    position: fixed;
    top: 10vw;
    left: 4vw;
    z-index: 3;
    font-size: 1.5vw;
  }
  