.container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 242, 242); /* добавил фон*/
}
.tytle{
    display: flex;
    align-self: center;
    font-size: 1.8vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 2vw;
    /* justify-content: center;
    display: flex; */
}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 15px;
}