.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url('/public/photo-hotel-far-away-home/hotel_farAwayHome.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.header_text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 2vw;
    margin-top: 32vw;
    padding: 0 2vw;
}

.header_button {
    padding: 1vw;
    margin: 0.03vw;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    color: black;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_button_reserve {
    padding: 1vw;
    margin-left: 1vw;
    border: none;
    border-radius: 4px;
    background-color: rgba(200, 200, 200, 1);
    color: black;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_button:hover {
    background-color: rgba(200, 200, 200, 1);
}

.header_button img {
    margin-left: 14vw;
}

.header_buttonContainer {
    display: flex;
    justify-content: space-evenly;
    background-color: none;
    flex-wrap: wrap;
    margin: 5px;
}

.icon {
    width: 2vw;
}