.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url('/public/photo-hotel-far-away-home/hotel_farAwayHome.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.header_text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 22px;
    margin-top: 380px;
    padding: 0px 30px;
}

.header_button {
    padding: 10px;
    margin: 1px;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    color: black;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_button:hover {
    background-color: rgba(200, 200, 200, 1);
}

.header_button span {
    margin-right: 170px;
}

.header_button img {
    margin-left: 170px;
}

.header_buttonContainer {
    display: flex;
    justify-content: space-evenly;
    background-color: none;
    flex-wrap: wrap;
    margin: 5px;
}