.navBar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2vw;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    background: rgb(215, 215, 215);
    background: linear-gradient(90deg, rgba(215, 215, 215, 1) 0%, rgba(161, 161, 172, 1) 58%, rgba(127, 162, 182, 1) 100%);
    z-index: 7;
}

.navBar_text {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 1.35vw;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navBar_text:hover {
    color: #fff;
}

.logo {
    width: 10vw;
    height: 8vw;
    margin: -2vw;
    cursor: pointer;
}

.navBar_text:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.2vw;
    width: 100%;
    height: 0.2vw;
    background-color: red;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}

.navBar_text:hover::before {
    transform: scaleX(1);
}

.icon {
    width: 1.4vw;
    height: 1.4vw;
}
